.navigation {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  height: 80px;
  width: 100%;
  background: white;
  box-shadow: 0px 0px 10px gray;
}
.navigation .navigation-bar {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.navigation-bar .logo {
  float: left;
  height: 39px;
  width: 180px;
  margin-top: 20.5px;
  text-indent: -9999em;
  background: url("../images/index/Logo-h.png") no-repeat;
}
.bar-items {
  float: right;
  height: 100%;
  width: 70%;
  overflow: hidden;
}
.bar-items .item {
  width: 80px;
  height: 40px;
  margin-top: 20px;
  text-align: center;
  float: right;
  margin-right: 25px;
  line-height: 30px;
}
.bar-items .item:hover {
  border-bottom: 2px solid #2c2c2c;
}
.bar-items .item  a {
  font-size: 16px;
  color: #393939;
}
.bar-items .item-elegant {
  border-bottom: 2px solid #2c2c2c;
}
.bar-items .item-l {
  font-size: 16px;
  width: 120px;
  height: 40px;
  margin-top: 24px;
  text-align: right;
  float: right;
  color: #13609d;
}
.bar-items .item-l span {
  cursor: pointer;
}
.bar-items .item-l .en {
  margin-right: 5px;
}
/* 新闻 */
.latest-news-header {
  height: auto;
  max-width: 1920px;
  min-width: 1200px;
  margin: 0 auto;
  background: url("../images/mq-elegant/new-banner.jpg") no-repeat center;
}
.header-title {
  height: 400px;
  width: 100%;
}
/* 主体 */
.latest-news-main {
  width: 100%;
  height: auto;
  min-height: 1000px;
}
.main-content {
  height: auto;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 50px;
}
.main-content>div {
  display: inline-block;
  vertical-align: top;
}
.main-content .content-left {
  height: auto;
  width: 170px;
}
.main-content .content-left .sub-left{
  height: 235px;
  width: 115px;
  border-left: 6px solid #1191ed;
  padding-left: 10px;
}
.main-content .content-left .sub-left li {
  height: 47px;
  width: 100%;
  line-height: 47px;
  color: #313131;
}
.main-content .content-left .sub-left li span {
  cursor: pointer;
}
.main-content .content-left .sub-left li span:hover {
  color: #1191ef;
}
.main-content .content-right {
  height: auto;
  width: 1025px;
  padding-left: 88px;
}
.main-content .content-right>div {
  height: 325px;
  width: 100%;
  margin-bottom: 40px;
}
.main-content .content-right>div>div {
  display: inline-block;
  vertical-align: top;
  height: 100%;
}
.main-content .content-right>div .r-left {
  width: 495px;
  background: white;
}
.main-content .content-right>div .r-left img {
  cursor: pointer;
}
.main-content .content-right>div .r-right {
  position: relative;
  width: 437px;
  padding-left: 42px;
  overflow: hidden;
}
.content-right .r-right .r-date {
  margin-top: 34px;
  font-size: 18px;
  color: #141414;
  font-weight: 600;
}
.content-right .r-right .r-line {
  position: relative;
  margin-top: 18px;
  height: 3px;
  width: 80px;
}
.r-right .r-line .r-line-o {
  position: absolute;
  top: 0px;
  left: -35px;
  height: 3px;
  width: 30px;
  display: none;
  background: #fe0100;
}
.r-right .r-line .r-line-y {
  position: absolute;
  top: 0px;;
  left: 0px;
  height: 3px;
  width: 78px;
  background: #fe910b;
}
.content-right .r-right .r-des {
  font-size: 18px;
  color: #141414;
  font-weight: 600;
  margin-top: 18px;
}
.r-right .r-btn {

  position: absolute;
  left: 40px;
  bottom: 0;
  height: 61px;
  width: 185px;
  cursor: pointer;
  background: url("../images/mq-elegant/more.png") no-repeat center;
}










/* 底部 */
.mq-elegant-footer {
  position: relative;
  height: auto;
  width: 100%;
  background: url("../images/index/footer.png") no-repeat center top;
} 
.mq-elegant-footer .us-aside {
  position: absolute;
  left: 0;
  top: 90px;
  height: 288px;
  width: 213px;
  background: url("../images/index/title-contact.png") no-repeat;
}
.mq-elegant-footer .us-content {
  position: relative;
  height: 455px;
  width: 100%;
}
.mq-elegant-footer .us-content .content-contact {
  position: absolute;
  top: 90px;
  height: 277px;
  width: 690px;
  padding: 20px 0 0 56px;
  background: #1290ee;
  z-index: 3;
}
.us-content .address-map {
  position: absolute;
  top: -180px;
  left: 57px;
  height: 300px;
  width: 560px;
  background: url("../images/index/map.png") no-repeat center;
  z-index: 10;
  display: none;
}
.us-content .content-contact>div {
  height: 50px;
  width: 100%;
  margin-bottom: 30px;
}
.content-contact .contact-address .contact-icon {
  background: url("../images/index/address.png") no-repeat;
}
.content-contact .contact-phone .contact-icon {
  background: url("../images/index/phone.png") no-repeat;
}
.content-contact .contact-email .contact-icon {
  background: url("../images/index/email.png") no-repeat;
}
.content-contact .contact-icon {
  display: inline-block;
  vertical-align: middle;
  height: 35px;
  width: 35px;
}
.icon-mask {
  position: absolute;
  height: 45px;
  width: 70%;
  left: -10px;
  top: 15px;
}
.content-contact .contact-msg {
  display: inline-block;
  vertical-align: middle;
  color: white;
  margin-left: 8px;
}
.content-contact .contact-msg a {
  color: white;
  font-family: 'Arial';
}
.contact-address,.contact-phone,.contact-email{
  position: relative;
  padding-top: 20px;
}
.us-content .content-msg {
  position: absolute;
  top: 47px;
  right: 10px;   
  border: 1px solid white;
  height: 348px;
  width: 600px;
  background: url("../images/index/map.png") no-repeat center;
}
.us-content .content-msg a {
  display: block;
  height: 100%;
  width: 100%;
}
.us-company {
  height: auto;
  width: 100%;
  background: white;   
}
.company-view {
  height: 100px;
  width: 100%;
  padding: 0 300px;
  overflow: hidden;
}
.us-company .company-logo {
  float: left;
  height: 60px;
  width: 50px;
  margin-top: 20px;
}
.us-company .company-logo img {
  width: 100%;
}
.us-company .company-msg {
  float: left;
  width: 521px;
  height: 100%;
}
.company-msg  .msg-top {
  height: 50px;
  width: 100%;
  overflow: hidden;
  padding-top: 25px;
}
.company-msg  .msg-top>div {
  float: left;
  height: 30px;
  width: auto;
  padding-left: 40px;
}
.company-msg  .msg-top>div span {
  margin: 0 12px;
}
.company-msg  .msg-top>div a {
  color: #383838;
  font-size: 16px;
}
.msg-bottom {
  height: 50px;
  width: 100%;
  padding-top: 10px;
  padding-left: 40px;
}
.msg-bottom p {
  color: #414141;
  font-size: 14px;
}
.msg-bottom p span {
  margin: 0 5px;
  color: black;
}